#contact {
  background-color: var(--principal-color);
  color: var(--text-secondary-color);

  span {
    color: inherit;
    font-size: 0.8rem;
    letter-spacing: 0.4rem;
  }

  h3 {
    color: inherit;
    font-size: 1.8rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (min-width: 720px) {
      flex-direction: row;
    }
  }

  input[type="text"] {
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    border: 0;
    border-radius: inherit;
    min-width: 16rem;
  }

  #email-input {
    border-radius: 0.2rem;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    display: inline-block;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    border: 0;
    color: #f7f7f7;
    background-color: #fc595d;
    transition: transform 300ms ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translateY(-0.2rem);
    }
  }
}
