<section>
  <h2>Download the extension</h2>
  <span>
    We've got more browsers in the pipeline. Please do let us know if you've got
    a favorite you'd like us to prioritize.
  </span>
  <div id="extension-browsers">
    <app-browser-extension-card></app-browser-extension-card>
    <app-browser-extension-card
      navigator="firefox"
      version="55"
      url="https://www.firefox.com"
    ></app-browser-extension-card>
    <app-browser-extension-card
      navigator="opera"
      version="46"
      url="https://www.opera.com/"
    ></app-browser-extension-card>
  </div>
</section>
