#main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media only screen and (max-width: 720px) {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--text-primary-color);
  }
}
