<section id="features">
  <h2>Features</h2>
  <span>
    Our aim is to make it quick and easy for you to access your favorite
    websites. Your bookmarks sync between your devices so you can access them on
    the go.
  </span>
  <nav id="features-nav">
    @for(feature of featuresData; track feature.title){
    <div
      (click)="selectedFeature = feature.selector"
      id="{{ feature.selector }}-btn"
      class="menu-element"
    >
      <span [class.selected]="selectedFeature === feature.selector">{{
        feature.title
      }}</span>
    </div>
    }
  </nav>
  <div id="features-list">
    @for(feature of featuresData; track feature.title){ @if(selectedFeature ===
    feature.selector){
    <app-feature-article
      title="{{ feature.title }}"
      description="{{ feature.description }}"
      image="{{ feature.image }}"
    ></app-feature-article>
    } }
  </div>
</section>
