<section id="features">
  <h2>Features</h2>
  <span>
    Our aim is to make it quick and easy for you to access your favorite
    websites. Your bookmarks sync between your devices so you can access them on
    the go.
  </span>
  <nav>
    <div id="simple-bookmatking-btn" class="menu-element">
      <span class="selected">Simple Bookmarking</span>
    </div>
    <div id="speedy-searching-btn" class="menu-element">
      <span> Speedy Searching </span>
    </div>
    <div id="easy-sharing-btn" class="menu-element">
      <span> Easy Sharing </span>
    </div>
  </nav>
  <div id="features-list">
    <!-- This will be a component that changes dinamically -->
    <article class="simple-bookmarking">
      <img src="img/illustration-features-tab-1.svg" alt="" />
      <div class="feature-text">
        <h3>Bookmark in one click</h3>
        <span>
          Organize your bookmarks however you like. Our simple drag-and-drop
          interface gives you complete control over how you manage your
          favourite sites.
        </span>
        <app-button>More Info</app-button>
      </div>
    </article>
  </div>
</section>
