<section id="features">
  <h2>Features</h2>
  <span>
    Our aim is to make it quick and easy for you to access your favorite
    websites. Your bookmarks sync between your devices so you can access them on
    the go.
  </span>
  <nav id="features-nav">
    <div
      (click)="selectedFeature = 'simple-bookmarking'"
      id="simple-bookmatking-btn"
      class="menu-element"
    >
      <span [class.selected]="selectedFeature === 'simple-bookmarking'"
        >Simple Bookmarking</span
      >
    </div>
    <div
      (click)="selectedFeature = 'speedy-searching'"
      id="speedy-searching-btn"
      class="menu-element"
    >
      <span [class.selected]="selectedFeature === 'speedy-searching'"
        >Speedy Searching</span
      >
    </div>
    <div
      (click)="selectedFeature = 'easy-sharing'"
      id="easy-sharing-btn"
      class="menu-element"
    >
      <span [class.selected]="selectedFeature === 'easy-sharing'"
        >Easy Sharing</span
      >
    </div>
  </nav>
  <div id="features-list">
    @if(selectedFeature === 'simple-bookmarking'){
    <app-feature-article
      title="Bookmark in one click"
      description="Organize your bookmarks however you like. Our simple drag-and-drop
      interface gives you complete control over how you manage your favourite
      sites."
      image="illustration-features-tab-1.svg"
    ></app-feature-article>

    } @if(selectedFeature === 'speedy-searching'){
    <app-feature-article
      title="Intelligent search"
      description="Our advanced search technology finds saved sites in real-time.
      Don't even have to leave the page!"
      image="illustration-features-tab-2.svg"
    ></app-feature-article>

    } @if(selectedFeature === 'easy-sharing'){
    <app-feature-article
      title="Share your bookmarks"
      description="Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button."
      image="illustration-features-tab-3.svg"
    ></app-feature-article>

    }
  </div>
</section>
