details[open] > summary > img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

summary {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid var(--text-terciary-color);

  @media only screen and (min-width: 480px) {
    width: 30rem;
  }

  &:hover {
    cursor: pointer;
  }
}

p {
  padding: 1rem 0;
  text-align: left;
  @media only screen and (min-width: 480px) {
    width: 30rem;
  }
}

a {
  margin: 1rem 0;
}
