<section id="footer-links">
  <div id="links-container">
    <nav>
      <a href="">
        <img src="img/logo-bookmark-white.svg" alt="" />
      </a>
      <app-page-links [isDark]="true"></app-page-links>
    </nav>
    <div class="social-links">
      <a href="https://www.facebook.com"
        ><img src="img/icon-facebook.svg" alt="facebook icnon"
      /></a>
      <a href="https://x.com"
        ><img src="img/icon-twitter.svg" alt="x (twitter) icon"
      /></a>
    </div>
  </div>
</section>
